In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records'
webbrowser.open(website)

True

On the website, copy the data and pandas will read the data from clipboard

In [43]:
nfl_frame = pd.read_clipboard()

In [44]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East
5,6,Minnesota Vikings,886,478,397,11,0.546,1961,NFC North
6,7,Baltimore Ravens,368,200,167,1,0.545,1996,AFC North
7,8,New York Giants,"1,321",692,596,33,0.536,1925,NFC East
8,9,Denver Broncos,900,476,414,10,0.534,1960,AFC West
9,10,San Francisco 49ers,"1,018",532,472,14,0.529,1950,NFC West
10,11,Indianapolis Colts[c],982,516,459,7,0.529,1953,AFC South
11,12,Pittsburgh Steelers,"1,208",628,558,22,0.529,1933,AFC North
12,13,Kansas City Chiefs,900,469,419,12,0.528,1960,AFC West
13,14,Oakland Raiders,900,466,423,11,0.524,1960,AFC West
14,15,Seattle Seahawks,676,344,331,1,0.510,1976,NFC West
15,16,Washington Redskins,"1,218",600,590,28,0.504,1932,NFC East
16,17,Los Angeles Chargers[d],900,447,442,11,0.503,1960,AFC West
17,18,Los Angeles Rams,"1,151",568,562,21,0.503,1937,NFC West
18,19,Carolina Panthers,384,190,193,1,0.496,1995,NFC South
19,20,Philadelphia Eagles,"1,204",577,601,26,0.490,1933,NFC East
20,21,Cleveland Browns,970,469,490,11,0.489,1950,AFC North
21,22,Tennessee Titans,900,431,463,6,0.482,1960,AFC South
22,23,Buffalo Bills,900,415,477,8,0.466,1960,AFC East
23,24,Detroit Lions,"1,249",559,658,32,0.460,1930,NFC North
24,25,Cincinnati Bengals,788,357,427,4,0.456,1968,AFC North
25,26,New Orleans Saints,802,362,435,5,0.454,1967,NFC South
26,27,New York Jets,900,401,491,8,0.450,1960,AFC East
27,28,Houston Texans,272,121,151,0,0.445,2002,AFC South
28,29,Jacksonville Jaguars,384,170,214,0,0.443,1995,AFC South
29,30,Atlanta Falcons,816,358,452,6,0.442,1966,NFC South
30,31,Arizona Cardinals,"1,346",553,753,40,0.426,1920,NFC West
31,32,Tampa Bay Buccaneers,676,260,415,1,0.385,1976,NFC South

In [45]:
nfl_frame.columns

Index(['Rank ', 'Team ', 'GP ', 'Won ', 'Lost ', 'Tied ', 'Pct. ',
       'First NFL Season ', 'Division'],
      dtype='object')

In [46]:
nfl_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 9 columns):
Rank                 32 non-null int64
Team                 32 non-null object
GP                   32 non-null object
Won                  32 non-null int64
Lost                 32 non-null int64
Tied                 32 non-null int64
Pct.                 32 non-null float64
First NFL Season     32 non-null int64
Division             32 non-null object
dtypes: float64(1), int64(5), object(3)
memory usage: 2.3+ KB

In [47]:
nfl_frame.head()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East

In [49]:
nfl_frame.Division.unique()

array(['NFC East', 'NFC North', 'AFC East', 'AFC North', 'AFC West',
       'NFC West', 'AFC South', 'NFC South'], dtype=object)

Notice the space after each column name, strip that extra space

In [50]:
nfl_frame.columns = [x.strip() for x in nfl_frame.columns]

Now to access multiple columns, pass columns as list

In [52]:
nfl_frame[["Rank", "Team","GP"]].head(10)

   Rank                      Team      GP
0     1           Dallas Cowboys     898
1     2            Chicago Bears   1,386
2     3        Green Bay Packers   1,352
3     4  New England Patriots[b]     900
4     5           Miami Dolphins     816
5     6        Minnesota Vikings     886
6     7         Baltimore Ravens     368
7     8          New York Giants   1,321
8     9           Denver Broncos     900
9    10      San Francisco 49ers   1,018

Retrieve rows of a dataframe

In [54]:
nfl_frame.loc[3]

Rank                                       4
Team                New England Patriots[b]
GP                                      900
Won                                      500
Lost                                     391
Tied                                       9
Pct.                                   0.561
First NFL Season                        1960
Division                            AFC East
Name: 3, dtype: object

In [55]:
nfl_frame.iloc[4]

Rank                              5
Team                Miami Dolphins
GP                             816
Won                             452
Lost                            360
Tied                              4
Pct.                          0.556
First NFL Season               1966
Division                   AFC East
Name: 4, dtype: object

Accessing multiple rows

In [56]:
nfl_frame.loc[3:7]

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East
5,6,Minnesota Vikings,886,478,397,11,0.546,1961,NFC North
6,7,Baltimore Ravens,368,200,167,1,0.545,1996,AFC North
7,8,New York Giants,"1,321",692,596,33,0.536,1925,NFC East

choosing rows and columns simultaneously

In [57]:
nfl_frame.loc[5:20]['Team']

5           Minnesota Vikings
6            Baltimore Ravens
7             New York Giants
8              Denver Broncos
9         San Francisco 49ers
10      Indianapolis Colts[c]
11        Pittsburgh Steelers
12         Kansas City Chiefs
13            Oakland Raiders
14           Seattle Seahawks
15        Washington Redskins
16    Los Angeles Chargers[d]
17           Los Angeles Rams
18          Carolina Panthers
19        Philadelphia Eagles
20           Cleveland Browns
Name: Team, dtype: object

In [62]:
nfl_frame.loc[5:20][["Team","Won","Tied"]]

                        Team  Won  Tied
5         Minnesota Vikings   478    11
6          Baltimore Ravens   200     1
7           New York Giants   692    33
8            Denver Broncos   476    10
9       San Francisco 49ers   532    14
10    Indianapolis Colts[c]   516     7
11      Pittsburgh Steelers   628    22
12       Kansas City Chiefs   469    12
13          Oakland Raiders   466    11
14         Seattle Seahawks   344     1
15      Washington Redskins   600    28
16  Los Angeles Chargers[d]   447    11
17         Los Angeles Rams   568    21
18        Carolina Panthers   190     1
19      Philadelphia Eagles   577    26
20         Cleveland Browns   469    11

Accessing with a condition

In [76]:
nfl_frame.loc[(nfl_frame.Won>500) & (nfl_frame.Tied>10)]

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North
7,8,New York Giants,"1,321",692,596,33,0.536,1925,NFC East
9,10,San Francisco 49ers,"1,018",532,472,14,0.529,1950,NFC West
11,12,Pittsburgh Steelers,"1,208",628,558,22,0.529,1933,AFC North
15,16,Washington Redskins,"1,218",600,590,28,0.504,1932,NFC East
17,18,Los Angeles Rams,"1,151",568,562,21,0.503,1937,NFC West
19,20,Philadelphia Eagles,"1,204",577,601,26,0.490,1933,NFC East
23,24,Detroit Lions,"1,249",559,658,32,0.460,1930,NFC North
30,31,Arizona Cardinals,"1,346",553,753,40,0.426,1920,NFC West