In [1]:
import pandas as pd

In [3]:
import webbrowser
webbrowser.open(r'https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records')

True

On the newly opened webpage, copy the table of nfl win -loss data

In [4]:
nfl_data = pd.read_clipboard()

In [5]:
nfl_data

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East
5,6,Minnesota Vikings,886,478,397,11,0.546,1961,NFC North
6,7,Baltimore Ravens,368,200,167,1,0.545,1996,AFC North
7,8,New York Giants,"1,321",692,596,33,0.536,1925,NFC East
8,9,Denver Broncos,900,476,414,10,0.534,1960,AFC West
9,10,San Francisco 49ers,"1,018",532,472,14,0.529,1950,NFC West
10,11,Indianapolis Colts[c],982,516,459,7,0.529,1953,AFC South
11,12,Pittsburgh Steelers,"1,208",628,558,22,0.529,1933,AFC North
12,13,Kansas City Chiefs,900,469,419,12,0.528,1960,AFC West
13,14,Oakland Raiders,900,466,423,11,0.524,1960,AFC West
14,15,Seattle Seahawks,676,344,331,1,0.510,1976,NFC West
15,16,Washington Redskins,"1,218",600,590,28,0.504,1932,NFC East
16,17,Los Angeles Chargers[d],900,447,442,11,0.503,1960,AFC West
17,18,Los Angeles Rams,"1,151",568,562,21,0.503,1937,NFC West
18,19,Carolina Panthers,384,190,193,1,0.496,1995,NFC South
19,20,Philadelphia Eagles,"1,204",577,601,26,0.490,1933,NFC East
20,21,Cleveland Browns,970,469,490,11,0.489,1950,AFC North
21,22,Tennessee Titans,900,431,463,6,0.482,1960,AFC South
22,23,Buffalo Bills,900,415,477,8,0.466,1960,AFC East
23,24,Detroit Lions,"1,249",559,658,32,0.460,1930,NFC North
24,25,Cincinnati Bengals,788,357,427,4,0.456,1968,AFC North
25,26,New Orleans Saints,802,362,435,5,0.454,1967,NFC South
26,27,New York Jets,900,401,491,8,0.450,1960,AFC East
27,28,Houston Texans,272,121,151,0,0.445,2002,AFC South
28,29,Jacksonville Jaguars,384,170,214,0,0.443,1995,AFC South
29,30,Atlanta Falcons,816,358,452,6,0.442,1966,NFC South
30,31,Arizona Cardinals,"1,346",553,753,40,0.426,1920,NFC West
31,32,Tampa Bay Buccaneers,676,260,415,1,0.385,1976,NFC South

In [7]:
nfl_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 9 columns):
Rank                 32 non-null int64
Team                 32 non-null object
GP                   32 non-null object
Won                  32 non-null int64
Lost                 32 non-null int64
Tied                 32 non-null int64
Pct.                 32 non-null float64
First NFL Season     32 non-null int64
Division             32 non-null object
dtypes: float64(1), int64(5), object(3)
memory usage: 2.3+ KB

In [8]:
nfl_data.columns

Index(['Rank ', 'Team ', 'GP ', 'Won ', 'Lost ', 'Tied ', 'Pct. ',
       'First NFL Season ', 'Division'],
      dtype='object')

Correct the column names, remove extra space

In [13]:
nfl_data.columns = [x.strip() for x in nfl_data.columns]

In [14]:
nfl_data.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Division'],
      dtype='object')

Lets get into stats

In [15]:
nfl_data.head()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East

In [16]:
nfl_data.describe()

,Rank,Won,Lost,Tied,Pct.,First NFL Season
count,32.000000,32.00000,32.000000,32.000000,32.000000,32.000000
mean,16.500000,456.46875,447.968750,13.406250,0.500688,1956.625000
std,9.380832,156.50600,137.917573,12.579706,0.047240,22.511287
min,1.000000,121.00000,151.000000,0.000000,0.385000,1920.000000
25%,8.750000,361.00000,395.500000,4.750000,0.459000,1936.000000
50%,16.500000,469.00000,447.000000,9.500000,0.503500,1960.000000
75%,24.250000,554.50000,559.000000,21.250000,0.534500,1966.250000
max,32.000000,761.00000,753.000000,42.000000,0.573000,2002.000000

In [17]:
nfl_data.sum()

Rank                                                              528
Team                Dallas Cowboys Chicago Bears Green Bay Packers...
GP                  898 1,386 1,352 900 816 886 368 1,321 900 1,01...
Won                                                             14607
Lost                                                            14335
Tied                                                              429
Pct.                                                           16.022
First NFL Season                                                62612
Division            NFC EastNFC NorthNFC NorthAFC EastAFC EastNFC ...
dtype: object

In [21]:
nfl_data.min()

Rank                                 1
Team                Arizona Cardinals
GP                              1,018
Won                                121
Lost                               151
Tied                                 0
Pct.                             0.385
First NFL Season                  1920
Division                      AFC East
dtype: object

In [22]:
nfl_data.max()

Rank                                  32
Team                Washington Redskins
GP                                  982
Won                                  761
Lost                                 753
Tied                                  42
Pct.                               0.573
First NFL Season                    2002
Division                        NFC West
dtype: object

In [33]:
nfl_data.Tied.cumsum()

0       6
1      48
2      86
3      95
4      99
5     110
6     111
7     144
8     154
9     168
10    175
11    197
12    209
13    220
14    221
15    249
16    260
17    281
18    282
19    308
20    319
21    325
22    333
23    365
24    369
25    374
26    382
27    382
28    382
29    388
30    428
31    429
Name: Tied, dtype: int64

In [34]:
nfl_data.Tied.value_counts().cumsum()

11     4
1      8
6     11
0     13
4     15
8     17
42    18
5     19
7     20
9     21
14    22
28    23
10    24
12    25
33    26
40    27
21    28
22    29
26    30
38    31
32    32
Name: Tied, dtype: int64

From the data GP - Games played dtype is an object while it should be int64

In [36]:
nfl_data.GP.dtype

dtype('O')

GP is in strings, we will need to remove extra comma and retain digits

In [46]:
nfl_data.GP = nfl_data.GP.replace(',',"",regex=True)

In [47]:
nfl_data.GP

0      898
1     1386
2     1352
3      900
4      816
5      886
6      368
7     1321
8      900
9     1018
10     982
11    1208
12     900
13     900
14     676
15    1218
16     900
17    1151
18     384
19    1204
20     970
21     900
22     900
23    1249
24     788
25     802
26     900
27     272
28     384
29     816
30    1346
31     676
Name: GP, dtype: object

Now change the dtype to int64

In [50]:
nfl_data.GP = nfl_data.GP.astype('int64')

In [51]:
nfl_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 9 columns):
Rank                32 non-null int64
Team                32 non-null object
GP                  32 non-null int64
Won                 32 non-null int64
Lost                32 non-null int64
Tied                32 non-null int64
Pct.                32 non-null float64
First NFL Season    32 non-null int64
Division            32 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 2.3+ KB

In [54]:
#Total games played by all teams
nfl_data.GP.cumsum().tail(1)

31    29371
Name: GP, dtype: int64

In [56]:
#Average number of games played by all teams
round(nfl_data.GP.mean())

918

In [57]:
nfl_data.describe()

,Rank,GP,Won,Lost,Tied,Pct.,First NFL Season
count,32.000000,32.000000,32.00000,32.000000,32.000000,32.000000,32.000000
mean,16.500000,917.843750,456.46875,447.968750,13.406250,0.500688,1956.625000
std,9.380832,292.484034,156.50600,137.917573,12.579706,0.047240,22.511287
min,1.000000,272.000000,121.00000,151.000000,0.000000,0.385000,1920.000000
25%,8.750000,812.500000,361.00000,395.500000,4.750000,0.459000,1936.000000
50%,16.500000,900.000000,469.00000,447.000000,9.500000,0.503500,1960.000000
75%,24.250000,1164.250000,554.50000,559.000000,21.250000,0.534500,1966.250000
max,32.000000,1386.000000,761.00000,753.000000,42.000000,0.573000,2002.000000

---