#### Table of Contents

    Introduction
    Creating Objects
    Viewing Data
    Selection
    Manipulating Data
    Grouping Data
    Merging, Joining and Concatenating
    Working with Date and Time
    Working With Text Data
    Working with CSV and Excel files
    Operations
    Visualization
    Applications and Projects
    Miscellaneous

#### 10. Working with csv and Excel files

#### Read csv using pandas.read_csv()

read_csv is an important pandas function to read csv files and do operations on it.

    # Import pandas 
    import pandas as pd 
  
    # reading csv file  
    pd.read_csv("filename.csv")

     pd.read_csv(filepath_or_buffer, sep=’, ‘, delimiter=None, header=’infer’, names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression=’infer’, thousands=None, decimal=b’.’, lineterminator=None, quotechar='”‘, quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, doublequote=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)

Parameter 	Use

    filepath_or_buffer 	URL or Dir location of file
    sep 	Stands for seperator, default is ‘, ‘ as in csv(comma seperated values)
    index_col 	Makes passed column as index instead of 0, 1, 2, 3…r
    header 	Makes passed row/s[int/int list] as header

    use_cols 	Only uses the passed col[string list] to make data frame
    squeeze 	If true and only one column is passed, returns pandas series
    skiprows 	Skips passed rows in new data frame

In [3]:

# importing Pandas library 
import pandas as pd 
  
pd.read_csv(filepath_or_buffer = "pokemon.csv")

        Pokemon      Type
0     Bulbasaur     Grass
1       Ivysaur     Grass
2      Venusaur     Grass
3    Charmander      Fire
4    Charmeleon      Fire
5     Charizard      Fire
6      Squirtle     Water
7     Wartortle     Water
8     Blastoise     Water
9      Caterpie       Bug
10      Metapod       Bug
11   Butterfree       Bug
12       Weedle       Bug
13       Kakuna       Bug
14     Beedrill       Bug
15       Pidgey    Normal
16    Pidgeotto    Normal
17      Pidgeot    Normal
18      Rattata    Normal
19     Raticate    Normal
20      Spearow    Normal
21       Fearow    Normal
22        Ekans    Poison
23        Arbok    Poison
24      Pikachu  Electric
25       Raichu  Electric
26    Sandshrew    Ground
27    Sandslash    Ground
28      Nidoran    Poison
29     Nidorina    Poison
..          ...       ...
691   Clauncher     Water
692   Clawitzer     Water
693  Helioptile  Electric
694   Heliolisk  Electric
695      Tyrunt      Rock
696   Tyrantrum      Rock
697      Amaura      Rock
698     Aurorus      Rock
699     Sylveon     Fairy
700    Hawlucha  Fighting
701     Dedenne  Electric
702     Carbink      Rock
703       Goomy    Dragon
704     Sliggoo    Dragon
705      Goodra    Dragon
706      Klefki     Steel
707    Phantump     Ghost
708   Trevenant     Ghost
709   Pumpkaboo     Ghost
710   Gourgeist     Ghost
711    Bergmite       Ice
712     Avalugg       Ice
713      Noibat    Flying
714     Noivern    Flying
715     Xerneas     Fairy
716     Yveltal      Dark
717     Zygarde    Dragon
718     Diancie      Rock
719       Hoopa   Psychic
720   Volcanion      Fire

[721 rows x 2 columns]

In [4]:
# makes the passed rows header 
pd.read_csv("pokemon.csv", header =[1, 2])

      Bulbasaur     Grass
        Ivysaur     Grass
0      Venusaur     Grass
1    Charmander      Fire
2    Charmeleon      Fire
3     Charizard      Fire
4      Squirtle     Water
5     Wartortle     Water
6     Blastoise     Water
7      Caterpie       Bug
8       Metapod       Bug
9    Butterfree       Bug
10       Weedle       Bug
11       Kakuna       Bug
12     Beedrill       Bug
13       Pidgey    Normal
14    Pidgeotto    Normal
15      Pidgeot    Normal
16      Rattata    Normal
17     Raticate    Normal
18      Spearow    Normal
19       Fearow    Normal
20        Ekans    Poison
21        Arbok    Poison
22      Pikachu  Electric
23       Raichu  Electric
24    Sandshrew    Ground
25    Sandslash    Ground
26      Nidoran    Poison
27     Nidorina    Poison
28    Nidoqueen    Poison
29     Nidoran♂    Poison
..          ...       ...
689   Clauncher     Water
690   Clawitzer     Water
691  Helioptile  Electric
692   Heliolisk  Electric
693      Tyrunt      Rock
694   Tyrantrum      Rock
695      Amaura      Rock
696     Aurorus      Rock
697     Sylveon     Fairy
698    Hawlucha  Fighting
699     Dedenne  Electric
700     Carbink      Rock
701       Goomy    Dragon
702     Sliggoo    Dragon
703      Goodra    Dragon
704      Klefki     Steel
705    Phantump     Ghost
706   Trevenant     Ghost
707   Pumpkaboo     Ghost
708   Gourgeist     Ghost
709    Bergmite       Ice
710     Avalugg       Ice
711      Noibat    Flying
712     Noivern    Flying
713     Xerneas     Fairy
714     Yveltal      Dark
715     Zygarde    Dragon
716     Diancie      Rock
717       Hoopa   Psychic
718   Volcanion      Fire

[719 rows x 2 columns]

In [5]:
# make the passed column as index instead of 0, 1, 2, 3.... 
pd.read_csv("pokemon.csv", index_col ='Type')

             Pokemon
Type
Grass      Bulbasaur
Grass        Ivysaur
Grass       Venusaur
Fire      Charmander
Fire      Charmeleon
Fire       Charizard
Water       Squirtle
Water      Wartortle
Water      Blastoise
Bug         Caterpie
Bug          Metapod
Bug       Butterfree
Bug           Weedle
Bug           Kakuna
Bug         Beedrill
Normal        Pidgey
Normal     Pidgeotto
Normal       Pidgeot
Normal       Rattata
Normal      Raticate
Normal       Spearow
Normal        Fearow
Poison         Ekans
Poison         Arbok
Electric     Pikachu
Electric      Raichu
Ground     Sandshrew
Ground     Sandslash
Poison       Nidoran
Poison      Nidorina
...              ...
Water      Clauncher
Water      Clawitzer
Electric  Helioptile
Electric   Heliolisk
Rock          Tyrunt
Rock       Tyrantrum
Rock          Amaura
Rock         Aurorus
Fairy        Sylveon
Fighting    Hawlucha
Electric     Dedenne
Rock         Carbink
Dragon         Goomy
Dragon       Sliggoo
Dragon        Goodra
Steel         Klefki
Ghost       Phantump
Ghost      Trevenant
Ghost      Pumpkaboo
Ghost      Gourgeist
Ice         Bergmite
Ice          Avalugg
Flying        Noibat
Flying       Noivern
Fairy        Xerneas
Dark         Yveltal
Dragon       Zygarde
Rock         Diancie
Psychic        Hoopa
Fire       Volcanion

[721 rows x 1 columns]

In [6]:
# uses passed cols only for data frame 
pd.read_csv("pokemon.csv", usecols =["Type"])

         Type
0       Grass
1       Grass
2       Grass
3        Fire
4        Fire
5        Fire
6       Water
7       Water
8       Water
9         Bug
10        Bug
11        Bug
12        Bug
13        Bug
14        Bug
15     Normal
16     Normal
17     Normal
18     Normal
19     Normal
20     Normal
21     Normal
22     Poison
23     Poison
24   Electric
25   Electric
26     Ground
27     Ground
28     Poison
29     Poison
..        ...
691     Water
692     Water
693  Electric
694  Electric
695      Rock
696      Rock
697      Rock
698      Rock
699     Fairy
700  Fighting
701  Electric
702      Rock
703    Dragon
704    Dragon
705    Dragon
706     Steel
707     Ghost
708     Ghost
709     Ghost
710     Ghost
711       Ice
712       Ice
713    Flying
714    Flying
715     Fairy
716      Dark
717    Dragon
718      Rock
719   Psychic
720      Fire

[721 rows x 1 columns]

In [7]:
# reutruns pandas series if there is only one colunmn 
pd.read_csv("pokemon.csv", usecols =["Type"], 
                              squeeze = True)

0         Grass
1         Grass
2         Grass
3          Fire
4          Fire
5          Fire
6         Water
7         Water
8         Water
9           Bug
10          Bug
11          Bug
12          Bug
13          Bug
14          Bug
15       Normal
16       Normal
17       Normal
18       Normal
19       Normal
20       Normal
21       Normal
22       Poison
23       Poison
24     Electric
25     Electric
26       Ground
27       Ground
28       Poison
29       Poison
         ...
691       Water
692       Water
693    Electric
694    Electric
695        Rock
696        Rock
697        Rock
698        Rock
699       Fairy
700    Fighting
701    Electric
702        Rock
703      Dragon
704      Dragon
705      Dragon
706       Steel
707       Ghost
708       Ghost
709       Ghost
710       Ghost
711         Ice
712         Ice
713      Flying
714      Flying
715       Fairy
716        Dark
717      Dragon
718        Rock
719     Psychic
720        Fire
Name: Type, Length: 721, dtype: object

In [8]:
# skips the passed rows in new series 
pd.read_csv("pokemon.csv", 
            skiprows = [1, 2, 3, 4])

        Pokemon      Type
0    Charmeleon      Fire
1     Charizard      Fire
2      Squirtle     Water
3     Wartortle     Water
4     Blastoise     Water
5      Caterpie       Bug
6       Metapod       Bug
7    Butterfree       Bug
8        Weedle       Bug
9        Kakuna       Bug
10     Beedrill       Bug
11       Pidgey    Normal
12    Pidgeotto    Normal
13      Pidgeot    Normal
14      Rattata    Normal
15     Raticate    Normal
16      Spearow    Normal
17       Fearow    Normal
18        Ekans    Poison
19        Arbok    Poison
20      Pikachu  Electric
21       Raichu  Electric
22    Sandshrew    Ground
23    Sandslash    Ground
24      Nidoran    Poison
25     Nidorina    Poison
26    Nidoqueen    Poison
27     Nidoran♂    Poison
28     Nidorino    Poison
29     Nidoking    Poison
..          ...       ...
687   Clauncher     Water
688   Clawitzer     Water
689  Helioptile  Electric
690   Heliolisk  Electric
691      Tyrunt      Rock
692   Tyrantrum      Rock
693      Amaura      Rock
694     Aurorus      Rock
695     Sylveon     Fairy
696    Hawlucha  Fighting
697     Dedenne  Electric
698     Carbink      Rock
699       Goomy    Dragon
700     Sliggoo    Dragon
701      Goodra    Dragon
702      Klefki     Steel
703    Phantump     Ghost
704   Trevenant     Ghost
705   Pumpkaboo     Ghost
706   Gourgeist     Ghost
707    Bergmite       Ice
708     Avalugg       Ice
709      Noibat    Flying
710     Noivern    Flying
711     Xerneas     Fairy
712     Yveltal      Dark
713     Zygarde    Dragon
714     Diancie      Rock
715       Hoopa   Psychic
716   Volcanion      Fire

[717 rows x 2 columns]

#### Saving a Pandas Dataframe as a CSV

to save a Pandas DataFrame as a CSV file using to_csv() method.

In [10]:

# importing pandas as pd  
import pandas as pd  
   
# list of name, degree, score 
nme = ["aparna", "pankaj", "sudhir", "Geeku"] 
deg = ["MBA", "BCA", "M.Tech", "MBA"] 
scr = [90, 40, 80, 98] 
   
# dictionary of lists  
dict = {'name': nme, 'degree': deg, 'score': scr}  
     
df = pd.DataFrame(dict) 
  
df

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [11]:
# saving the dataframe 
df.to_csv('file1.csv')

#### Saving CSV without headers and index.

In [12]:
# importing pandas as pd  
import pandas as pd  
   
# list of name, degree, score 
nme = ["aparna", "pankaj", "sudhir", "Geeku"] 
deg = ["MBA", "BCA", "M.Tech", "MBA"] 
scr = [90, 40, 80, 98] 
   
# dictionary of lists  
dict = {'name': nme, 'degree': deg, 'score': scr}  
     
df = pd.DataFrame(dict) 
df

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [13]:
# saving the dataframe 
df.to_csv('file2.csv', header=False, index=False)

#### Save csv file to a specified location.

In [14]:

# importing pandas as pd  
import pandas as pd  
   
# list of name, degree, score 
nme = ["aparna", "pankaj", "sudhir", "Geeku"] 
deg = ["MBA", "BCA", "M.Tech", "MBA"] 
scr = [90, 40, 80, 98] 
   
# dictionary of lists  
dict = {'name': nme, 'degree': deg, 'score': scr}  
     
df = pd.DataFrame(dict) 
  
df

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [15]:
# saving the dataframe 
df.to_csv(r'C:\Users\sadiqgpasha\SP\Cognixia\Machine Learning using python\MLworkedfiles\file3.csv', index=False)

#### Loading Excel spreadsheet as pandas DataFrame

In [20]:
#We first need to import Pandas and load excel file, and then parse excel file sheets as a Pandas dataframe.

import pandas as pd 
  
#Import the excel file and call it xls_file 

excel_file = pd.ExcelFile('testexcel.xlsx') 
  
#View the excel_file's sheet names 

print(excel_file.sheet_names) 
  
#Load the excel_file's Sheet1 as a dataframe 

df = excel_file.parse('Sheet1') 
print(df)

['Sheet1']
      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire
5   Charizard   Fire
6    Squirtle  Water
7   Wartortle  Water
8   Blastoise  Water
9    Caterpie    Bug

One can also read specific columns using ‘usecols‘ parameter of read_excel() method.

In [21]:
# import pandas lib as pd  
import pandas as pd  
    
require_cols = [0, 3]  
    
# only read specific columns from an excel file  
required_df = pd.read_excel('testexcel.xlsx', usecols = require_cols)  
    
print(required_df)

      Pokemon
0   Bulbasaur
1     Ivysaur
2    Venusaur
3  Charmander
4  Charmeleon
5   Charizard
6    Squirtle
7   Wartortle
8   Blastoise
9    Caterpie

#### Creating a dataframe using Excel files

#### Read an excel file using read_excel() method of pandas.

In [22]:

# import pandas lib as pd 
import pandas as pd 
  
# read by default 1st sheet of an excel file 
dataframe1 = pd.read_excel('testexcel.xlsx') 
  
print(dataframe1)

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire
5   Charizard   Fire
6    Squirtle  Water
7   Wartortle  Water
8   Blastoise  Water
9    Caterpie    Bug

#### Reading Specific Sheets using 'sheet_name' of read_excel() method.

In [24]:

# import pandas lib as pd 
import pandas as pd 
  
# read 1st sheet of an excel file using sheet_name = 0, 
#for second sheet, use sheet_name = 1
dataframe2 = pd.read_excel('testexcel.xlsx', sheet_name = 0) 
  
print(dataframe2)

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire
5   Charizard   Fire
6    Squirtle  Water
7   Wartortle  Water
8   Blastoise  Water
9    Caterpie    Bug

#### Reading Specific Columns using 'usecols' parameter of read_excel() method

In [25]:
# import pandas lib as pd 
import pandas as pd 
  
require_cols = [0, 3] 
  
# only read specific columns from an excel file 
required_df = pd.read_excel('testexcel.xlsx', usecols = require_cols) 
  
print(required_df)

      Pokemon
0   Bulbasaur
1     Ivysaur
2    Venusaur
3  Charmander
4  Charmeleon
5   Charizard
6    Squirtle
7   Wartortle
8   Blastoise
9    Caterpie

#### Handling missing data using 'na_values' parameter of the read_excel() method

In [26]:
# import pandas lib as pd 
import pandas as pd 
  
# Handling missing values of 3rd sheet of an excel file. 
dataframe = pd.read_excel('testexcel.xlsx', na_values = "Missing", 
                                                    sheet_name = 0) 
  
print(dataframe)

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire
5   Charizard   Fire
6    Squirtle  Water
7   Wartortle  Water
8   Blastoise  Water
9    Caterpie    Bug

#### Skip starting rows when Reading an Excel File using 'skiprows' parameter of read_excel() method.

In [28]:
# import pandas lib as pd 
import pandas as pd 
  
# read 2nd sheet of an excel file after 
# skipping starting two rows  
df = pd.read_excel('testexcel.xlsx', sheet_name = 0, skiprows = 2) 
  
print(df)

      Ivysaur  Grass
0    Venusaur  Grass
1  Charmander   Fire
2  Charmeleon   Fire
3   Charizard   Fire
4    Squirtle  Water
5   Wartortle  Water
6   Blastoise  Water
7    Caterpie    Bug

#### Set the header to any row and start reading from that row, using 'header' parameter of the read_excel() method

In [31]:

# import pandas lib as pd 
import pandas as pd 
  
# setting the 3rd row as header. 
df = pd.read_excel('testexcel.xlsx', sheet_name = 0, header = 2) 
  
print(df)

      Ivysaur  Grass
0    Venusaur  Grass
1  Charmander   Fire
2  Charmeleon   Fire
3   Charizard   Fire
4    Squirtle  Water
5   Wartortle  Water
6   Blastoise  Water
7    Caterpie    Bug

#### Reading Multiple Excel Sheets using 'sheet_name' parameter of the read_excel()method

In [32]:

# import pandas lib as pd 
import pandas as pd 
  
# read both 1st and 2nd sheet. 
df = pd.read_excel('testexcel.xlsx', na_values = "Mssing", 
                                        sheet_name =[0, 1]) 
  
print(df)

OrderedDict([(0,       Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire
5   Charizard   Fire
6    Squirtle  Water
7   Wartortle  Water
8   Blastoise  Water
9    Caterpie    Bug), (1,         A          B        C       D
0  Mumbai  bangalore  Chennai   Delhi
1    2000       3000     4500  9000\n)])

#### Reading all Sheets of the excel file together using 'sheet_name' parameter of the read_excel() method

In [33]:

# import pandas lib as pd 
import pandas as pd 
  
# read all sheets together. 
all_sheets_df = pd.read_excel('testexcel.xlsx', na_values = "Missing", 
                                                     sheet_name = None) 
  
print(all_sheets_df)

OrderedDict([('Sheet1',       Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire
5   Charizard   Fire
6    Squirtle  Water
7   Wartortle  Water
8   Blastoise  Water
9    Caterpie    Bug), ('Sheet2',         A          B        C       D
0  Mumbai  bangalore  Chennai   Delhi
1    2000       3000     4500  9000\n)])

#### Working with Pandas and XlsxWriter

Pandas writes Excel files using the XlsxWriter modules.

XlsxWriter is a Python module for writing files in the XLSX file format. It can be used to write text, numbers, and formulas to multiple worksheets. Also, it supports features such as formatting, images, charts, page setup, auto filters, conditional formatting and many others.

#### Converting a Pandas dataframe to an xlsx file using Pandas and XlsxWriter.

In [34]:

# import pandas as pd 
import pandas as pd 
  
# Create a Pandas dataframe from some data. 
df = pd.DataFrame({'Data': ['Geeks', 'For', 'geeks', 'is', 
                               'portal', 'for', 'geeks']}) 
  
# Create a Pandas Excel writer 
# object using XlsxWriter as the engine. 
writer = pd.ExcelWriter('testexcel.xlsx',  
                   engine ='xlsxwriter') 
  
# Write a dataframe to the worksheet. 
df.to_excel(writer, sheet_name ='Sheet1') 
  
# Close the Pandas Excel writer 
# object and output the Excel file. 
writer.save()

#### Writing multiple dataframes to worksheets using Pandas and XlsxWriter.

In [35]:

# import pandas as pd 
import pandas as pd 
  
# Create some Pandas dataframes from some data. 
df1 = pd.DataFrame({'Data': [11, 12, 13, 14]}) 
df2 = pd.DataFrame({'Data': [21, 22, 23, 24]}) 
df3 = pd.DataFrame({'Data': [31, 32, 33, 34]}) 
  
# Create a Pandas Excel writer object  
# using XlsxWriter as the engine. 
writer = pd.ExcelWriter('pandas_multiple.xlsx',  
                          engine ='xlsxwriter') 
  
# Write each dataframe to a different worksheet. 
df1.to_excel(writer, sheet_name ='Sheet1') 
df2.to_excel(writer, sheet_name ='Sheet2') 
df3.to_excel(writer, sheet_name ='Sheet3') 
  
# Close the Pandas Excel writer object 
# and output the Excel file. 
writer.save()

#### Positioning dataframes in a worksheet using Pandas and XlsxWriter

In [37]:

# import pandas as pd 
import pandas as pd 
  
# Create some Pandas dataframes from some data. 
df1 = pd.DataFrame({'Data': [11, 12, 13, 14]}) 
df2 = pd.DataFrame({'Data': [21, 22, 23, 24]}) 
df3 = pd.DataFrame({'Data': [31, 32, 33, 34]}) 
df4 = pd.DataFrame({'Data': [41, 42, 43, 44]}) 
  
# Create a Pandas Excel writer object 
# using XlsxWriter as the engine. 
writer = pd.ExcelWriter('pandas_positioning.xlsx',  
                             engine ='xlsxwriter') 
  
# write and Positioning the dataframes in the worksheet. 
# Default position, cell A1. 
df1.to_excel(writer, sheet_name ='Sheet1')   
df2.to_excel(writer, sheet_name ='Sheet1', startcol = 3) 
df3.to_excel(writer, sheet_name ='Sheet1', startrow = 6) 
  
# It is also possible to write the 
# dataframe without the header and index. 
df4.to_excel(writer, sheet_name ='Sheet1', 
             startrow = 7, startcol = 4, 
             header = False, index = False) 
  
# Close the Pandas Excel writer object 
# and output the Excel file. 
writer.save()

#### Converting a Pandas dataframe with datetimes to an Excel file with a default datetime and date format using Pandas and XlsxWriter

In [38]:

# import pandas library as pd 
import pandas as pd 
   
# from datetime module import 
# datetime and date method 
from datetime import datetime, date 
   
# Create a Pandas dataframe from some datetime data. 
# datetime(year,month,date,hour,minute,second) 
# date(year,month,date) 
dataframe = pd.DataFrame({ 
    'Date and time': [ datetime(2018, 1, 11, 11, 30, 55), 
                      datetime(2018, 2, 12, 1,  20, 33), 
                      datetime(2018, 3, 13, 11, 10    ), 
                      datetime(2018, 4, 14, 16, 45, 35), 
                      datetime(2018, 5, 15, 12, 10, 15)], 
                      
   'Dates only':    [ date(2018, 6, 21), 
                      date(2018, 7, 22), 
                      date(2018, 8, 23), 
                      date(2018, 9, 24), 
                      date(2018, 10, 25) ], }) 
   
# Create a Pandas Excel writer  
# object using XlsxWriter as the engine. 
# Also set the default datetime and date formats. 
   
# mmmm dd yyyy => month date year 
# month - full name, date - 2 digit, year - 4 digit 
   
# mmm d yyyy hh:mm:ss => month date year hour: minute: second 
# month - first 3 letters , date - 1 or 2 digit , year - 4 digit. 
writer_object = pd.ExcelWriter("Example_datetime.xlsx", 
                        engine ='xlsxwriter', 
                        datetime_format ='mmm d yyyy hh:mm:ss', 
                        date_format ='mmmm dd yyyy') 
   
# Write a dataframe to the worksheet.  
dataframe.to_excel(writer_object, sheet_name ='Sheet1') 
   
# Create xlsxwriter worksheet object 
worksheet_object  = writer_object.sheets['Sheet1'] 
   
# set width of the B and C column 
worksheet_object.set_column('B:C', 20) 
   
# Close the Pandas Excel writer  
# object and output the Excel file.  
writer_object.save()

#### Converting a Pandas dataframe to an Excel file with column formats using Pandas and XlsxWriter.

In [39]:
# import pandas lib as pd 
import pandas as pd 
   
# Create a Pandas dataframe from some data. 
dataframe = pd.DataFrame( 
    {'Marks (Out of 50)': [30, 40, 45, 15, 8, 5, 35], 
     'Percentage': [.6,   .8,   .9,  .3,  .16,   .1,  .7 ], }) 
   
# Create a Pandas Excel writer  
# object using XlsxWriter as the engine.  
writer_object = pd.ExcelWriter("Example_column.xlsx", 
                                engine ='xlsxwriter') 
   
# Write a dataframe to the worksheet.  
dataframe.to_excel(writer_object, sheet_name ='Sheet1') 
   
# Create xlsxwriter workbook object . 
workbook_object = writer_object.book 
   
# Create xlsxwriter worksheet object 
worksheet_object = writer_object.sheets['Sheet1'] 
   
# Create a new Format object to formats cells  
# in worksheets using add_format() method . 
   
# number taken upto 2 decimal places 
# format object is create. 
format_object1 = workbook_object.add_format({'num_format': '# 0.00'}) 
   
# Integral percentage format object is create. 
format_object2 = workbook_object.add_format({'num_format': '0 %'}) 
   
# Note: It isn't possible to format 
# any cells that already have a format 
# such as the index or headers or any 
# cells that contain dates or datetimes. 
   
# Set the column width and format. 
worksheet_object.set_column('B:B', 20, format_object1) 
   
# Set the column width and format. 
worksheet_object.set_column('C:C', 15, format_object2) 
   
# Close the Pandas Excel writer  
# object and output the Excel file.  
writer_object.save()

#### Converting a Pandas dataframe to an Excel file with a user defined header format using Pandas and XlsxWriter.

In [40]:

# import pandas lib as pd 
import pandas as pd 
   
data1 = ["Math", "Physics", "Computer", 
         "Hindi", "English", "chemistry"] 
data2 = [95, 78, 80, 80, 60, 95] 
data3 = [90, 67, 78, 70, 63, 90] 
   
# Create a Pandas dataframe from some data. 
dataframe = pd.DataFrame( 
    {'Subject': data1, 
     'Mid Term Exam Scores Out of 100' : data2, 
     'End Term Exam Scores Out of 100' : data3}) 
   
# Create a Pandas Excel writer  
# object using XlsxWriter as the engine.  
writer_object = pd.ExcelWriter("Example_header.xlsx", 
                                engine ='xlsxwriter') 
   
# Write a dataframe to the worksheet.  
# we turn off the default header 
# and skip one row because we want 
# to insert a user defined header there. 
dataframe.to_excel(writer_object, sheet_name ='Sheet1',  
                          startrow = 1, header = False) 
   
# Create xlsxwriter workbook object . 
workbook_object = writer_object.book 
   
# Create xlsxwriter worksheet object 
worksheet_object = writer_object.sheets['Sheet1'] 
   
# Create a new Format object to formats cells  
# in worksheets using add_format() method . 
   
# here we create a format object for header. 
header_format_object = workbook_object.add_format({ 
                                'bold': True, 
                                'italic' : True, 
                                'text_wrap': True, 
                                'valign': 'top', 
                                'font_color': 'red', 
                                'border': 2}) 
   
# Write the column headers with the defined format. 
for col_number, value in enumerate(dataframe.columns.values): 
    worksheet_object.write(0, col_number + 1, value,  
                              header_format_object) 

    
# Close the Pandas Excel writer  
# object and output the Excel file.  
writer_object.save()

#### Plot a Column chart using Pandas and XlsxWriter.

In [41]:

# import pandas library as pd 
import pandas as pd 
  
# Create a Pandas dataframe from some data. 
dataframe = pd.DataFrame({ 
                    'Subject': ["Math", "Physics", "Computer", 
                                "Hindi", "English", "chemistry"], 
                   'Mid Exam Score' :  [90, 78, 60, 80, 60, 90], 
                   'End Exam Score' : [45, 39, 30, 40, 30, 60] }) 
  
# Create a Pandas Excel writer  
# object using XlsxWriter as the engine. 
writer_object = pd.ExcelWriter('pandas_column_chart.xlsx', 
                                     engine ='xlsxwriter') 
  
# Write a dataframe to the worksheet. 
dataframe.to_excel(writer_object, sheet_name ='Sheet1') 
  
# Create xlsxwriter workbook object . 
workbook_object = writer_object.book 
  
# Create xlsxwriter worksheet object 
worksheet_object = writer_object.sheets['Sheet1'] 
  
# set width of the B and C column 
worksheet_object.set_column('B:C', 20) 
  
# Create a chart object that can be added   
# to a worksheet using add_chart() method.   
    
# here we create a column chart object . 
chart_object = workbook_object.add_chart({'type': 'column'}) 
  
# Add a data series to a chart   
# using add_series method. 
  
# Configure the first series.   
# syntax to define ranges is :  
# [sheetname, first_row, first_col, last_row, last_col]. 
chart_object.add_series({ 
    'name':       ['Sheet1', 0, 2],   
    'categories': ['Sheet1', 1, 3, 6, 3],   
    'values':     ['Sheet1', 1, 2, 6, 2],   
    }) 
  
# Configure a second series. 
chart_object.add_series({ 
    'name':       ['Sheet1', 0, 1],   
    'categories': ['Sheet1', 1, 3, 6, 3],   
    'values':     ['Sheet1', 1, 1, 6, 1],   
    }) 
  
# Add a chart title. 
chart_object.set_title({'name': 'Exam Score Distribution'}) 
  
# Add x-axis label  
chart_object.set_x_axis({'name': 'Subjects'})  
    
# Add y-axis label  
chart_object.set_y_axis({'name': 'Marks'}) 
  
# add chart to the worksheet with given 
# offset values at the top-left corner of 
# a chart is anchored to cell E2 
worksheet_object.insert_chart('E2', chart_object,  
                {'x_offset': 20, 'y_offset': 5}) 
  
# Close the Pandas Excel writer  
# object and output the Excel file.  
writer_object.save()

#### Plot a Line chart using Pandas and XlsxWriter.

In [42]:

# import pandas library as pd 
import pandas as pd 
  
# Create a Pandas dataframe from some data. 
dataframe = pd.DataFrame({ 
                    'Subject': ["Math", "Physics", "Computer",  
                                "Hindi", "English", "chemistry"], 
                   'Mid Exam Score' :  [95, 78, 80, 80, 60, 95], 
                   'End Exam Score' : [90, 67, 78, 70, 63, 90] 
                    }) 
  
# Create a Pandas Excel writer  
# object using XlsxWriter as the engine. 
writer_object = pd.ExcelWriter('pandas_line_chart.xlsx',  
                                   engine ='xlsxwriter') 
  
# Write a dataframe to the worksheet. 
dataframe.to_excel(writer_object, sheet_name ='Sheet1') 
  
# Create xlsxwriter workbook object . 
workbook_object = writer_object.book 
  
# Create xlsxwriter worksheet object 
worksheet_object = writer_object.sheets['Sheet1'] 
  
# set width of the B and C column 
worksheet_object.set_column('B:C', 20) 
  
  
# Create a chart object that can be added   
# to a worksheet using add_chart() method.   
    
# here we create a line chart object . 
chart_object = workbook_object.add_chart({'type': 'line'}) 
  
# Add a data series to a chart   
# using add_series method. 
  
# Configure the first series.   
# syntax to define ranges is :  
# [sheetname, first_row, first_col, last_row, last_col]. 
chart_object.add_series({ 
    'name':       ['Sheet1', 0, 2],   
    'categories': ['Sheet1', 1, 3, 6, 3],   
    'values':     ['Sheet1', 1, 2, 6, 2],   
    }) 
  
# Configure a second series. 
chart_object.add_series({ 
    'name':       ['Sheet1', 0, 1],   
    'categories': ['Sheet1', 1, 3, 6, 3],   
    'values':     ['Sheet1', 1, 1, 6, 1],   
    }) 
  
# Add a chart title. 
chart_object.set_title({'name': 'Exam Score Distribution'}) 
  
# Add x-axis label  
chart_object.set_x_axis({'name': 'Subjects'})  
    
# Add y-axis label  
chart_object.set_y_axis({'name': 'Marks'}) 
  
# add chart to the worksheet with given 
# offset values at the top-left corner of 
# a chart is anchored to cell E2 
worksheet_object.insert_chart('E2', chart_object,  
                 {'x_offset': 20, 'y_offset': 5}) 
  
# Close the Pandas Excel writer  
# object and output the Excel file.  
writer_object.save()

#### Plot a Scatter chart using Pandas and XlsxWriter

In [43]:

# import pandas library as pd 
import pandas as pd 
  
# Create a Pandas dataframe from some data. 
dataframe = pd.DataFrame({ 
                    'Subject': ["Math", "Physics", "Computer", 
                             "Hindi", "English", "chemistry"], 
                   'Mid Exam Score' :  [70, 80, 90, 40, 66, 98], 
                   'End Exam Score' : [90, 60, 50, 80, 78, 96] 
                    }) 
  
# Create a Pandas Excel writer  
# object using XlsxWriter as the engine. 
writer_object = pd.ExcelWriter('pandas_Scatter_chart.xlsx', 
                                      engine ='xlsxwriter') 
  
# Write a dataframe to the worksheet. 
dataframe.to_excel(writer_object, sheet_name ='Sheet1') 
  
# Create xlsxwriter workbook object . 
workbook_object = writer_object.book 
  
# Create xlsxwriter worksheet object 
worksheet_object = writer_object.sheets['Sheet1'] 
  
# set width of the B and C column 
worksheet_object.set_column('B:C', 20) 
  
  
# Create a chart object that can be added   
# to a worksheet using add_chart() method.   
    
# here we create a scatter chart object . 
chart_object = workbook_object.add_chart({'type': 'scatter'}) 
  
# Add a data series to a chart   
# using add_series method. 
  
# Configure the first series.   
# syntax to define ranges is :  
# [sheetname, first_row, first_col, last_row, last_col]. 
chart_object.add_series({ 
    'name':       ['Sheet1', 0, 2],   
    'categories': ['Sheet1', 1, 3, 6, 3],   
    'values':     ['Sheet1', 1, 2, 6, 2],   
    }) 
  
# Configure a second series. 
chart_object.add_series({ 
    'name':       ['Sheet1', 0, 1],   
    'categories': ['Sheet1', 1, 3, 6, 3],   
    'values':     ['Sheet1', 1, 1, 6, 1],   
    }) 
  
# Add a chart title. 
chart_object.set_title({'name': 'Exam Score Distribution'}) 
  
# Add x-axis label  
chart_object.set_x_axis({'name': 'Subjects'})  
    
# Add y-axis label  
chart_object.set_y_axis({'name': 'Marks'}) 
  
# add chart to the worksheet with given 
# offset values at the top-left corner of 
# a chart is anchored to cell E2 
worksheet_object.insert_chart('E2', chart_object,  
                {'x_offset': 20, 'y_offset': 5}) 
  
# Close the Pandas Excel writer  
# object and output the Excel file.  
writer_object.save()